.buttonA{
    width: 190px;
    padding: 15px;
    border-radius: 12px;
    font-size: 1.25rem;
    color: rgba(6, 60, 90, 0.77);
    background: linear-gradient(95.15deg, #BBFFDE 0%, rgba(230, 203, 168, 0) 133.65%);
}